<style type="text/css">
	input[type="number"]{
		font-size: 14px !important;
		text-align: center;
		width: 70px !important;
		height: 30px !important;
	}
	span.error {
		display:block;
		color:red;
	}

	span.inactive {
		color: #AAAAAA;
	}

	a.glyphicon {
		text-decoration: none;
	}
</style>

<div id="hoteles-admin-ui">
	<form name="marginLocationForm">
		<div ng-cloak>
			<a style="color:black; font-size:30px; margin-top: 15px;" class="glyphicon glyphicon-circle-arrow-left" href="/#/margenes-proveedor"></a>
			<div class="header">
			    <h1>{{tableTitle}} {{locationName}}</h1>
			</div>
		    <alert ng-if="alert"
		    	type="{{alert.type}}"
		    	close="closeAlert()">{{alert.msg}}</alert>
			<table border="1" ng-class="center" width="80%" align="center" >
				<tr>
					<th ng-repeat="columnTitle in columnTitles" class="text-center" bgcolor="lightgray">
						{{columnTitle}}
					</th>
				</tr>
				<tr ng-repeat="marginLocation in editingMarginsLocation track by $index" ng-init="marginProvider = marginProviders[$index]">
					<td class="text-center">{{marginProvider.providerName}}</td>
					<td class="text-center">
						<span ng-if="marginProvider.active">{{marginProvider.marginApplied}}%</span>
						<span ng-if="!marginProvider.active">{{offProvider}}</span>
					</td>
					<td class="text-center">
						<span ng-if="marginLocation && (!isEditingRow($index) || !marginProvider.active)" 
							  ng-class="{inactive: !marginProvider.active}">{{marginLocation.marginApplied}}%</span>
						<div ng-if="marginLocation && marginProvider.active">
							<input type="number" name="marginApplied" step="0.01" min="0" max="100" required
								   ng-model="marginLocation.marginApplied" 
								   ng-if="isEditingRow($index) && marginLocation && marginProvider.active" />
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   marginLocationForm.marginApplied.$error.required">{{requiredError}}</span>
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   !marginLocationForm.marginApplied.$error.required && 
								  		   !marginLocationForm.marginApplied.$valid">{{marginRangeError}}</span>
						</div>
						<span ng-if="!marginLocation">{{notApply}}</span>
					</td>
					<td class="text-center">
						<span ng-if="marginLocation && (!isEditingRow($index) || !marginProvider.active)" 
							  ng-class="{inactive: !marginProvider.active}">{{marginLocation.rateMarkup}}%</span>
						<div ng-if="marginLocation && marginProvider.active">
							<input type="number" name="rateMarkup" step="0.01" min="0" max="100" required
								   ng-model="marginLocation.rateMarkup" 
								   ng-change="calculateTaxMarkup()"
								   ng-if="isEditingRow($index) && marginLocation && marginProvider.active" />
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   marginLocationForm.rateMarkup.$error.required">{{requiredError}}</span>
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   !marginLocationForm.rateMarkup.$error.required && 
								  		   !marginLocationForm.rateMarkup.$valid">{{rateMarkupRangeError}}</span>
							<span class="error"
								  ng-if="isEditingRow($index) && sumError">{{markupSumError}}</span>
						</div>
						<span ng-if="!marginLocation">{{notApply}}</span>
					</td>
					<td class="text-center">
						<span ng-if="marginLocation && (!isEditingRow($index) || !marginProvider.active)" 
							  ng-class="{inactive: !marginProvider.active}">{{marginLocation.taxMarkup}}%</span>
						<div ng-if="marginLocation && marginProvider.active">
							<input type="number" name="taxMarkup" step="0.01" min="0" max="100" required 
								   ng-model="marginLocation.taxMarkup" 
								   ng-change="calculateRateMarkup()" 
								   ng-if="isEditingRow($index) && marginLocation && marginProvider.active"/>
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   marginLocationForm.taxMarkup.$error.required">{{requiredError}}</span>
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   !marginLocationForm.taxMarkup.$error.required && 
								  		   !marginLocationForm.taxMarkup.$valid">{{taxMarkupRangeError}}</span>
							<span class="error"
								  ng-if="isEditingRow($index) && sumError">{{markupSumError}}</span>
						</div>
						<span ng-if="!marginLocation">{{notApply}}</span>
					</td>
					<td class="text-center">
						<span ng-if="marginLocation && (!isEditingRow($index) || !marginProvider.active)" 
							  ng-class="{inactive: !marginProvider.active}">{{marginLocation.changePrevision}}%</span>
						<div ng-if="marginLocation && marginProvider.active">
							<input type="number" name="changePrevision" step="0.01" min="0" required
								   ng-model="marginLocation.changePrevision" 
								   ng-if="isEditingRow($index) && marginLocation && marginProvider.active" />
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   marginLocationForm.changePrevision.$error.required">{{requiredError}}</span>
							<span class="error" 
								  ng-if="isEditingRow($index) && 
								  		   !marginLocationForm.changePrevision.$error.required && 
								  		   !marginLocationForm.changePrevision.$valid">{{changePrevisionRangeError}}</span>
						</div>
						<span ng-if="!marginLocation">{{notApply}}</span>
					</td>
					<td class="text-center" width="20%">
						<button class="glyphicon glyphicon-pencil" 
								ng-click="enableEdition($index)" 
								ng-if="!isEditingRow($index)"
								ng-disabled="(isEditing() && !isEditingRow($index)) || !marginLocation || !marginProvider.active">
						<button class="glyphicon glyphicon-ok" 
							    ng-click="updateMarginsLocation()" 
							    ng-if="isEditingRow($index)" 
							    ng-disabled="!marginLocationForm.$valid"/>
						<button class="glyphicon glyphicon-remove" 
							    ng-click="cancelEdition()" 
							    ng-if="isEditingRow($index)"/>
					</td>
				</tr>
				<!--
				<tr>
					<td class="text-center" width="30%">
						<p>{{providerApplied}}</p>
					</td>
					<td ng-repeat="marginProvider in marginProviders" class="text-center">
						<span ng-if="marginProvider.active">{{marginProvider.marginApplied}}%</span>
						<span ng-if="!marginProvider.active">{{offProvider}}</span>
					</td>
					<td class="text-center" width="20%">{{notApply}}</td>
				</tr>
				<tr>
					<td class="text-center" width="30%">
						<p>{{locationApplied}} {{locationName}}</p>
					</td>
					<td ng-repeat="marginLocation in editingMarginsLocation" class="text-center">
						<span ng-if="marginLocation && (!editing || !marginProviders[$index].active)" ng-class="{inactive: !marginProviders[$index].active}">{{marginLocation.marginApplied}}%</span>
						<div ng-if="marginLocation && marginProviders[$index].active">
							<input type="number" string-to-number name="marginApplied" ng-model="marginLocation.marginApplied" ng-if="editing && marginLocation && marginProviders[$index].active" step="0.01" min="0" max="78" required/>
							<span class="error" ng-if="marginLocationForm.marginApplied_.$error.required">Campo requerido</span>
							<span class="error" ng-if="!marginLocationForm.marginApplied.$error.required && !marginLocationForm.marginApplied.$valid">Ingresar valor numerico entre 0 y 78</span>
						</div>
						<span ng-if="!marginLocation">{{notApply}}</span>
					</td>
					<td class="text-center" width="20%">
						<button class="glyphicon glyphicon-pencil" ng-click="enableEdition()" ng-if="!editing">
						<button class="glyphicon glyphicon-ok" ng-click="updateMarginsLocation()" ng-if="editing" ng-disabled="!marginLocationForm.$valid"/>
						<button class="glyphicon glyphicon-remove" ng-click="cancelEdition()" ng-if="editing"/>
					</td>
				</tr>
				-->
			</table>
	</form>
</div>
