<div id="hoteles-admin-ui">
    <div class="header">
        <h1>Reporte de Margenes por Destinos</h1>
    </div>
    <div ng-controller="ReporteMargenDestinoController" ng-cloak>
        <div class="container">
            <div class="row">
                <div class='col-sm-5'>
                    <div class="form-group">
                        <div class='input-group date' id='desde'>
                            <input class="form-control"
                            format="DD/MM/YYYY h:mm A"
                            type="text" id="fechaDesde"
                            name="fechaDesde"
                            ng-model="obj.fechaDesde"
                            ng-required="true" hoteles-datetimepicker />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <a ng-href="{{makeUrl()}}">
                        <button type="button" class="btn btn-default">Descargar Reporte</button>
                    </a>
                </div>
                <div class='col-sm-5'>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
