.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color: #003f8a;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  background: #015099;
  color: floralwhite;
  height: 152px;
  padding: 0px;
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #ffffff;
  color: #ffffff;
}
.midas-logo img{
  margin: 7px auto;
    display: inline-block;
    height: 33px;
    width: 42px;
}
.midas-logo{
      border: inherit;
    padding: inherit;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #ffffff;
  color: #003f8a;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #ffffff;
  color: #003f8a;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #ffffff;
  color: #003f8a;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #ffffff;
  color: #003f8a;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #ffffff;
  color: #003f8a;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #ffffff;
  color: #003f8a;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

.customer{
      display: inline-block;
      margin-right: 40px;
    }
    .customer h4{
      font-weight: 600;
    }
    .employee-position,
    .customer span{        
      font-size: 13px;
      line-height: 1.42857143;
      color: #777;
    }

    /*pinpong*/

    .login{
      padding-top: 8px;
    }
    .login li {
      margin-left: 10px;
    }
    .pingpong-logo{
      transform: rotate(180deg);
      width: 128px;
      display: inline-block;
      margin-right: 12px;
    }

    .flow-img{
      margin-right: auto;
      margin-left: auto;
      max-width: 200px;
      max-height: 150px;
    }
    .flow-div{
      text-align: center;
      margin-left: -100px;
    }
    .error{
      background-color: red;
    }
    .fixture{
        display: inline-block;
        width: 70%;
        float: left;
        margin-right: 23px;
    }
    .fixture-ul{
      padding-left: 31px;
    box-shadow: inherit;
    padding-right: 33px;
    }
    div.fechas .label-info{
          width: 100%;
    display: inline-block;
    }

  .footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#999;
}