<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-toggletarget="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>               
                <a class="navbar-brand midas-logo" ui-sref="app">
                    <img src="images/midas.png">
                </a>
            </div>
            <div ng-controller="LoginController" style="display:inline;">  
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"  ng-show="userLoggedIn" ng-if="_loginChecker">
                    <li><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li ng-show="showParticipante"><a ui-sref="app.participantes">
                        <span class="glyphicon glyphicon-user"
                         aria-hidden="true"></span> Participantes</a></li>
                    <li ng-show="showParticipante"><a ui-sref="app.fixture">
                         <i class="fa fa-table fa-lg" aria-hidden="true"></i> Armar Fixture</a></li>
                    <li><a ui-sref="app.fixture">
                         <span class="glyphicon glyphicon-calendar"
                         aria-hidden="true"></span> 
                         Fechas</a></li>                     
                </ul>
                <ul class="nav navbar-nav navbar-center">
                </ul>                
                <ul class="nav navbar-nav navbar-right login" ng-show="userLoggedIn" ng-if="_loginChecker">
                     <li>                        
                        <button class="btn btn-info" ng-click="logout()">
                            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                            Cerrar Sesi&oacute;n
                        </button>
                    </li>
                </ul>              
                <ul class="nav navbar-nav navbar-right login" ng-show="!userLoggedIn" ng-if="_loginChecker">
                    <li>
                        <input type="text" class="form-control" placeholder="usuario" aria-describedby="basic-addon1" ng-model="loginData.userName" ng-class="{error:loginFailure}">
                    </li>
                    <li>
                        <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon1" ng-model="loginData.password" ng-class="{error:loginFailure}">
                    </li>
                    <li>
                        <button class="btn btn-primary" ng-click="doLogin()">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            Log in
                        </button>
                    </li>
                    <li>                        
                        <button class="btn btn-info" ng-controller="InscripcionController" ng-click="open()">
                            <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
                            Inscripci&oacute;n
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>         
               
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1><img src="images/pp.png" class="img-responsive pingpong-logo" style="transform:rotate(180deg)">
                    Torneo Ping Pong
                    </h1>
                </div>                
            </div>
        </div>
    </header>
