    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Participantes del torneo</h2>
                <div ng-repeat="miembro in miembros">
                      <player-info miembro="miembro" info=false status-data="getStatusData"></player-info>
                </div>

            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>
        
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div> 
    </div>
