<div class="col-xs-12 col-sm-9">
	<ul class="media-list tab-pane fade in active">
        <div class="media-left media-middle">                               
            <img class="media-object img-thumbnail" ng-src={{miembro.avatarImg}} alt="Uthappizza" style="width: 120px; height: 124px;">
        </div>
        <div class="media-body">
            <h3 class="media-heading">Nombre: 
                <span class="label label-info">{{miembro.nombre}} {{miembro.apellido}}</span>
            </h3>
            <h3 class="media-heading">Usuario: 
                <span class="label label-info">{{miembro.usuario}} </span>
            </h3>
            <button class="btn btn-danger btn-xs" ng-click="unsubscribe()">Abandonar Torneo</button>
            <div ng-show="mostrar">
               
                <div ng-show="statsReady" class="media-object img-thumbnail" style="margin-top: 10px; margin-bottom: 10px;"> 
                    <h3 class="media-heading">Partidos Jugados:
                         <span class="label label-danger">4</span>
                    </h3>
                    <h3 class="media-heading">Puntos obtenidos: 
                        <span class="label label-success">1</span>
                    </h3>                                                                        
                    <p ng-show="showDetails">BBB</p>
                </div>
                <div style="display:inline;" style="margin-top:10px;">
                    <button class="btn btn-success btn-xs" ng-hide="statsReady" ng-click="mostrarEstadisticas()">Mostrar estad&iacute;sticas</button>
                    <button class="btn btn-success btn-xs" ng-show="statsReady" ng-click="ocultarEstadisticas()">Ocultar estad&iacute;sticas</button>
                </div>
            </div>
        </div>
    </ul>
</div>