<div class="content" ng-controller="AlertMessageController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="row">
        <div class="col-xs-2 text-left">
            <button ng-show="creatableMode && !addMode" class="btn btn-default agregar" ng-click="toggleAddMode()">Agregar Nuevo
            </button>
        </div>
        <div class="col-xs-4 ">
            <label for="search">Items por pagina:</label>
            <input type="number" placeholder="pagesize" ng-model="pageSize"></input>
        </div>
        <div class="col-xs-2 checkbox " ng-show="showActiveMode">
            <label>
                <input type="checkbox" ng-change="listAllObjects()" ng-model="activate" />Ver Reglas no activas</label>
        </div>
        <div class="col-xs-2 " ng-show="priorityMode">
            <a href="" ng-click="persistPriorities()" class="edit-link">Guardar prioridad <i class="glyphicon glyphicon-upload"></i></a>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <table class="table table-directive table-striped table-hover main">
                <thead class="thead-directive">
                    <tr class="tr-directive">
                        <th ng-repeat="column in columns" class="th-directive">
                            <div>
                                <p ng-click="setOrderBy(column.id)">{{column.name}}
                                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': !orderBy.asc, 'glyphicon-sort-by-alphabet-alt': orderBy.asc}" ng-show="orderBy.field == '{{column.id}}'"></i></p>
                                <input type="text" ng-model="filters[column.id]" placeholder="Filtrar"></input>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody-directive">
                    <tr>
                        <!--<td ng-repeat="column in columns">
                    <input type="text" ng-model="filters[column.id]" placeholder="Filtrar"></input>
                </td>
                <td class="addModeColumn td-directive">
                    <button ng-show="creatableMode" class="btn primary glyphicon" ng-class="{'glyphicon-minus': addMode, 'glyphicon-plus': !addMode}" ng-click="toggleAddMode()">
                    </button>

                </td>-->
                    </tr>
                    <tr ng-show="addMode" id="addRule">
                        <td ng-repeat="column in columns" class="td-directive">
                            <div id="input.addRule.{{column.id}}">
                                <div ng-if="column.type.name==='autocomplete'" class="relative">
                                    <input type="text" ng-model="aux.autocomplete" class="form-control" typeahead="item as item[column.type.value] for item in column.type.getInput($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length="3" typeahead-on-select="selectResult(aux.autocomplete, object, column);" typeahead-input-formatter="formatLabel($model, column)" id="{{column.name}}" required="true" name="addRule_{{column.id}}" ng-blur="validate('rule'+ruleIndex,object,'rule'+ruleIndex+'_'+column.id)" />
                                    <i ng-show="loadingLocations" class="fa fa-refresh fa-spin"></i>
                                </div>
                                <div ng-if="column.type.name==='autocompleteHotel'" class="relative">
                                    <input type="text" ng-model="aux.autocomplete" class="form-control" typeahead="item as item[column.type.firstValue] + ' - ' + item[column.type.value] for item in column.type.getInput($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length="3" typeahead-on-select="selectResult(aux.autocomplete, object, column);" typeahead-input-formatter="formatLabel($model, column)" id="{{column.name}}" required="true" name="addRule_{{column.id}}" ng-blur="validate('rule'+ruleIndex,object,'rule'+ruleIndex+'_'+column.id)" />
                                    <i ng-show="loadingLocations" class="fa fa-refresh fa-spin"></i>
                                </div>
                                <div ng-if="column.type.name==='select'" class="relative">
                                    <select ng-model="aux" ng-options="item as item[column.type.value]
                            for item in getOptions(column.type.options, column.type.allOption)" ng-change="update(aux, object, column)" name="addRule_{{column.id}}" ng-blur="validate('addRule',object,'addRule_'+column.id)" class="form-control">
                                    </select>
                                </div>
                                <div ng-if="column.type.name==='date'">
                                    <div class="input-group">
                                        <input class="form-control" type="text" ng-model="object[column.id]" name="addRule_{{column.id}}" ng-change="parseDate(object[column.id],object,column.id)" tarjetas-datetimepicker>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                    <!--<div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-ng-model="object[column.id]" readonly name="addRule_{{column.id}}">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                                            <datetimepicker data-ng-model="object[column.id]" ng-change="parseDate(object[column.id],object,column.id)" data-datetimepicker-config="{ dropdownSelector: '#dropdown2'}">
                                            </datetimepicker>
                                        </ul>
                                    </div>-->
                                </div>
                                <div ng-if="column.type==='percentage'">
                                    <input ng-model="object[column.id]" class="form-control" percentage name="addRule_{{column.id}}" ng-blur="validate('addRule',object,'addRule_'+column.id)" />
                                </div>
                                <div ng-if="column.type===undefined">
                                    <input ng-model="object[column.id]" class="form-control" name="addRule_{{column.id}}" ng-blur="validate('addRule',object,'addRule_'+column.id)" />
                                </div>
                            </div>
                            <span id="errorMessage_addRule_{{column.id}}"><!-- --></span>
                        </td>
                        <td class="td-directive">
                            <div class="col-md-12 column">
                                <div class="col-md-6 column text-right">
                                    <button type="button" class="btn primary glyphicon glyphicon-ok" ng-click="createObject('addRule',getLastPriority());"></button>
                                </div>
                                <div class="col-md-6 column text-left">
                                    <button ng-show="creatableMode" class="btn primary glyphicon glyphicon-remove" ng-click="toggleAddMode()"></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-drag-n-drop ng-draggable="true" ng-dragstart="dragStart" ng-droppable="true" ng-dragenter="eventCancellation" ng-dragover="eventCancellation;" ng-drop="dropThis" dir-paginate="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filters | itemsPerPage: pageSize" class="filters" id="rule{{objects.indexOf(object)}}" ng-init="ruleIndex=objects.indexOf(object)">
                        <td ng-repeat="column in columns" ng-switch on="object.editMode" class="td-directive" ng-class="{'active': object.active==undefined || object.active=='true', 'disactive': object.active=='false'}">
                            <div ng-switch-default>
                                <span ng-if="column.type==='percentage'">{{markupToPercentage(object[column.id])}}</span>
                                <span ng-if="column.type!=='percentage'">{{object[column.id]}}</span>
                            </div>
                            <div ng-switch-when="true">
                                <div ng-if="column.type.name==='autocomplete'">
                                    <input type="text" ng-model="object[column.id]" class="form-control" typeahead="item as item[column.type.value] for item in column.type.getInput($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="selectResult(object[column.id], object, column)" typeahead-min-length="3" ng-disabled="column.editMode === 'readOnly'" name="rule{{ruleIndex}}_{{column.id}}" ng-blur="validate('rule'+ruleIndex,object,'rule'+ruleIndex+'_'+column.id)" />
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                </div>
                                <div ng-if="column.type.name==='autocompleteHotel'">
                                    <input type="text" ng-model="object[column.id]" class="form-control" typeahead="item as item[column.type.firstValue] + ' - ' + item[column.type.value[0]] for item in column.type.getInput($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="selectResult(object[column.id], object, column)" typeahead-min-length="3" ng-disabled="column.editMode === 'readOnly'" name="rule{{ruleIndex}}_{{column.id}}" ng-blur="validate('rule'+ruleIndex,object,'rule'+ruleIndex+'_'+column.id)" />
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                </div>
                                <div ng-if="column.type.name==='date'">
                                    <div class="input-group">
                                        <input class="form-control" type="text" data-ng-model="object[column.id]" name="rule{{ruleIndex}}_{{column.id}}" ng-change="parseDate(object[column.id],object,column.id)" tarjetas-datetimepicker>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                    <!--<div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-ng-model="object[column.id]" name="rule{{ruleIndex}}_{{column.id}}" readonly>
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="object[column.id]" data-datetimepicker-config="{ dropdownSelector: '#dropdown2'}" ng-change="parseDate(object[column.id],object,column.id)">
                                            </datetimepicker>
                                        </ul>
                                    </div>-->
                                </div>
                                <div ng-if="column.type.name==='select'" class="relative">
                                    <select ng-model="aux" ng-init="aux=getSelectedValue(object,column)" ng-options="item as item[column.type.value]
                            for item in getOptions(column.type.options, column.type.allOption)" ng-change="update(aux, object, column)" ng-disabled="column.editMode === 'readOnly'" name="rule{{ruleIndex}}_{{column.id}}" ng-blur="validate('rule'+ruleIndex,object,'rule'+ruleIndex+'_'+column.id)" class="form-control">
                                    </select>
                                </div>
                                <div ng-if="column.type==='percentage'">
                                    <input ng-model="object[column.id]" class="form-control" ng-disabled="column.editMode === 'readOnly'" name="rule{{ruleIndex}}_{{column.id}}" percentage ng-blur="validate('rule'+ruleIndex,object,'rule'+ruleIndex+'_'+column.id)" />
                                </div>
                                <div ng-if="column.type===undefined">
                                    <input ng-model="object[column.id]" class="form-control" ng-disabled="column.editMode === 'readOnly'" name="rule{{ruleIndex}}_{{column.id}}" ng-blur="validate('rule'+ruleIndex,object,'rule'+ruleIndex+'_'+column.id)" />
                                </div>
                                <span id="errorMessage_rule{{ruleIndex}}_{{column.id}}"><!-- --></span>
                            </div>
                        </td>
                        <td class="edit-column td-directive" ng-class="{'active': object.active==undefined || object.active=='true', 'disactive': object.active=='false'}">
                            <div ng-switch on="object.editMode">
                                <div ng-switch-default>
                                    <a class="edit-link"><i class="fa fa-pencil" ng-click="toggleEditMode(object)"></i></a>
                                    <a ng-show="deleteableMode" class="edit-link"><i class="fa fa-minus-circle" ng-if="object.active==undefined || object.active=='true'" ng-click="deleteObject(object)"></i></a>
                                    <a class="edit-link"><i ng-if="object.active=='false'" class="btn btn-default glyphicon glyphicon-log-in" ng-click="activateObject(object)"></i></a>
                                </div>
                                <div ng-switch-when="true">
                                    <a class="edit-link">
                                        <i class="fa fa-check-circle-o" ng-click="updateObject(object,'rule'+objects.indexOf(object));"></i>
                                    </a>
                                    <a class="edit-link">
                                        <i class="fa fa-times-circle-o" ng-click="resetObjectValues(object)"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <dir-pagination-controls></dir-pagination-controls>
</div>
</div>
